ion-content{
	--background: #e0bbe4;
}
ion-toolbar{
	--background: #e0bbe4;
}
ion-title{
	text-align: center;
}
ion-list{
	--background: #e0bbe4
}
.item{
	background-color: gray;
}

.title{
	background-color: #C38888;
}
p{
	font-family: BodoniMT;
	font-weight: bold;
	font-size: 25px;
}
.cover{
	background-color: gray;
}
.btn-container{
	background-color: #3dc2ff;
	text-align: center;
}
.btn-btn ::part{
	border-radius: 50px;
}
