ion-title{
	text-align: center;
}
.item{
	background-color: gray;
}
.btn-container{
	
	text-align: center;
	
}
.title{
	background-color: #C38888;
}
p{
	font-family: BodoniMT;
	font-weight: bold;
	font-size: 25px;
}
.cover{
	background-color: gray;
}
.btn-container{
	background-color: #C38888;
}