<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-item>
  
    <ion-avatar slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>Account User</ion-label>
    <ion-button fill="clear">Login</ion-button>
    
  </ion-item>


  <ion-card class="card-1">
    <ion-label>Completed Tasks</ion-label>
    <p>7</p>
  </ion-card>

  <ion-card class="card-2">
    <ion-label>Pending Tasks</ion-label>
    <p>7</p>
  </ion-card>



</ion-content>