<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <a [routerLink]="['/project-manager/dashboard']">
                <ion-button color="tertiary">
                    <ion-icon slot="icon-only" size="large" name="arrow-back-circle-sharp"></ion-icon>
                </ion-button>
            </a>
        </ion-buttons>
        <ion-title>{{ getTitle() }}</ion-title>
        <ion-buttons slot="end">
            <ion-button color="tertiary" (click)="showTask()" shape="round">
                <ion-icon slot="icon-only" size="large" name="duplicate-sharp"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<!-- Modal -->
<div id="myModal" class="modal" [ngClass]="show ? 'show' : 'hide'">
    <div class="modal-content">
        <ion-card>
            <ion-card-content>
                <ion-card-title>Task</ion-card-title>
                <form #f="ngForm">
                    <ion-item>
                        <ion-label position="floating">Title</ion-label>
                        <ion-input placeholder="Input title here.." name="title" required [(ngModel)]="title"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Description</ion-label>
                        <ion-input placeholder="Input description here.." required name="description" [(ngModel)]="description">
                        </ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>Status</ion-label>
                        <ion-select placeholder="Select Status" name="status" [(ngModel)]="status">
                            <ion-select-option *ngFor="let status of statuses" [value]="status">{{ status
                                }}</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item>
                        <ion-label>Assignee</ion-label>
                        <ion-select placeholder="Select Assignee" required name="user_id" [(ngModel)]="assignee">
                            <ion-select-option *ngFor="let assignee of assignees" [value]="assignee.id">{{ assignee.name
                                }}</ion-select-option>
                        </ion-select>
                    </ion-item>
                </form>
            </ion-card-content>
            <ion-item class="ion-float-right">
                <ion-button fill="outline" (click)="show = false" color="primary" shape="round">Cancel</ion-button>
                <ion-button color="tertiary" [disabled]="f.invalid" shape="round" (click)="onSubmit(f)">{{ modalButton }}</ion-button>
            </ion-item>
        </ion-card>
    </div>
</div>

<!-- Content -->
<ion-content>
    <ion-list *ngFor="let task of projectTasks">
        <ion-item (click)="showTask(task)">
            <ion-label>
                <h2 style="font-weight: bold;">{{ task.title }}</h2>
                <div class="ion-float-right">
                    <ion-badge color="danger" class="ion-text-uppercase">{{ getTaskAssignee(task.user_id) }}
                    </ion-badge>
                    <ion-badge [color]="getColorStatus(task.status)" class="ion-margin-start">{{ task.status }}</ion-badge>
                </div>
                <p>
                    {{ task.description }}
                </p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>